/* Utilities - Helpers */
.ss-targeted *, .ss-targeted *:before, .ss-targeted *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ss-targeted .ss-pointer {
	cursor: pointer;
}

.ss-targeted .ss-svg-icon svg {
	width: 100%;
	height: 100%;
}

.ss-targeted .ss-flex-inline-wrap, .ss-targeted .ss-flex-inline-wrap-center {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.ss-targeted .ss-flex-inline-nowrap, .ss-targeted .ss-flex-inline-nowrap-center {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

.ss-targeted .ss-flex-wrap, .ss-targeted .ss-flex-wrap-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.ss-targeted .ss-flex-nowrap, .ss-targeted .ss-flex-nowrap-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

.ss-targeted .ss-flex-wrap-center, .ss-targeted .ss-flex-nowrap-center, .ss-targeted .ss-flex-inline-wrap-center, .ss-targeted .ss-flex-inline-nowrap-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}

.ss-targeted .react-custom-checkbox input[type='checkbox'] {
	display: none;
}

.ss-targeted .react-custom-checkbox svg {
	margin-right: 0;
	width: 0;
}

.ss-targeted .react-custom-checkbox label {
	width: 100%;
	display: inline-block;
	font-family: DIN W01 Regular, sans-serif;
	cursor: inherit;
	text-transform: none;
}

.ss-targeted .react-custom-checkbox-active svg {
	margin-right: 0.5rem;
	width: 1rem;
}

.ss-targeted .react-custom-checkbox-cross svg {
	margin-right: 0.75rem;
	width: 0.75rem;
	position: relative;
	top: -1px;
}

/* Merchandising */
.ss-merchandising img {
	max-width: 100%;
	height: auto !important;
}

/* Results */
.ss-oq, .ss-expanded-search {
	padding: 1rem 45px;
	font-family: DIN W01 Regular, sans-serif;
	font-weight: 300;
	text-align: center;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

.ss-oq strong, .ss-oq a, .ss-expanded-search strong, .ss-expanded-search a {
	font-family: DIN W01 Medium, sans-serif;
}

.ss-oq a, .ss-expanded-search a {
	text-decoration: underline;
}

.ss-oq a:hover, .ss-expanded-search a:hover {
	color: #ed1c24;
}

.ss-results .ss-results-title {
	position: relative;
	opacity: 0;
	margin-top: -100px !important;
}

.ss-results .ss-results-title.ss-sticky-title {
	opacity: 1;
	margin-top: 0 !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ss-results .product-listing-pane__actions .react-select {
	position: relative;
}

.ss-results .product-listing-pane__actions .react-select .react-select__control .react-select__value-container, .ss-results .product-listing-pane__actions .react-select .react-select__control .react-select__value-container .react-select__single-value {
	overflow: hidden;
}

.ss-results .product-listing-pane__actions .react-select .react-select__control .react-select__value-container .react-select__single-value, .ss-results .product-listing-pane__actions .react-select .react-select__menu {
	white-space: nowrap;
}

.ss-results .product-listing-pane__actions .react-select .react-select__control {
	-webkit-box-pack: justify;
	justify-content: space-between;
	min-height: 38px;
	transition: all 100ms ease 0s;
}

.ss-results .product-listing-pane__actions .react-select .react-select__control .react-select__value-container {
	flex: 1 1 0%;
	padding: 2px 8px;
}

.ss-results .product-listing-pane__actions .react-select .react-select__control .react-select__value-container .react-select__single-value {
	margin: 0 2px;
	text-overflow: ellipsis;
}

.ss-results .product-listing-pane__actions .react-select .react-select__control .react-select__indicators {
	align-self: stretch;
	flex-shrink: 0;
}

.ss-results .product-listing-pane__actions .react-select .react-select__control .react-select__indicators .react-select__indicator {
	padding: 8px;
	transition: color 150ms ease 0s;
}

.ss-results .product-listing-pane__actions .react-select .react-select__control .react-select__indicators .react-select__indicator svg {
	display: inline-block;
	fill: currentcolor;
	line-height: 1;
}

.ss-results .product-listing-pane__actions .react-select .react-select__menu {
	background: #ffffff !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
	margin: 8px 0;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 1;
	border-radius: 4px;
}

.ss-results .product-listing-pane__actions .react-select .react-select__menu .react-select__menu-list {
	max-height: 300px;
	overflow-y: auto;
	padding: 4px 0;
}

.ss-results .product-listing-pane__actions .react-select .react-select__menu .react-select__menu-list .react-select__option {
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	padding: 8px 12px;
}

.ss-results .product-listing-pane__actions .product-listing-pane__facet-visibility-toggle-action .prefix__st0 {
	fill: #ffffff;
}

.ss-results .ss-item-container .product-list__item .product-list__item-compare-checkbox-container.full {
	color: #808080;
}

.ss-results .ss-item-container .product-list__item .product-list__item-compare-checkbox-container.full svg {
	fill: #808080;
}

.ss-results .ss-item-container .product-list__item .product-list__item-compare-checkbox-container.full.cannot-compare {
	color: #414141;
}

.ss-results .ss-item-container .product-list__item .product-list__item-compare-checkbox-container.full.cannot-compare svg {
	fill: #414141;
}

/* No Results */
.ss-no-results {
	padding: 4rem 0.5rem;
}

.ss-no-results .ss-no-results-container {
	text-align: center;
}

.ss-no-results .ss-no-results-container .ss-title, .ss-no-results .ss-no-results-container .ss-suggestion-list, .ss-no-results .ss-no-results-container p {
	margin: 0 0 1.5rem 0;
}

.ss-no-results .ss-no-results-container .ss-suggestion-list {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.ss-no-results .ss-no-results-container a {
	text-decoration: underline;
	color: #ed1c24;
}

.ss-no-results .ss-no-results-container a:hover {
	color: #121212;
}

.ss-no-results .ss-no-results-container .ss-did-you-mean {
	font-size: 18px;
}

/* Facets */
.product-listing-pane__facets-inner .ss-sorting .product-listing-pane__facets-item:last-of-type, .product-listing-pane__facets-inner .ss-summary .product-listing-pane__facets-item:last-of-type {
	border-bottom: 1px solid #f0f0f0;
}

.ss-facets .product-listing-pane__facets-item .Collapsible .Collapsible__trigger + .Collapsible__contentOuter {
	overflow: hidden;
}

.ss-facets .product-listing-pane__facets-item .Collapsible .Collapsible__trigger.is-open + .Collapsible__contentOuter {
	height: auto;
}

.ss-facets .product-listing-pane__facets-item .Collapsible .Collapsible__trigger.is-closed + .Collapsible__contentOuter {
	height: 0;
}

.ss-facets .product-listing-pane__facets-item .ss-grid .ss-grid-button {
	display: block;
	font-family: "DIN W01 Regular", sans-serif;
	width: 100%;
	background: white;
	border-width: 1px;
	border-style: solid;
	border-color: #e5e5e5;
	border-image: initial;
	border-radius: 8px;
	min-height: 32px;
	font-size: 14px;
	line-height: 1rem;
}

.ss-facets .product-listing-pane__facets-item .ss-grid .product-listing-pane__facet-values-brick-active .ss-grid-button {
	box-shadow: white 0px 0px 0px 0.1rem inset;
	color: white;
	background: #414141;
}

.ss-facets .product-listing-pane__facets-item .ss-palette .ss-palette-button {
	display: inline-block;
	box-shadow: none;
	width: 1.8rem;
	height: 1.8rem;
	line-height: 1rem;
	border: 1px solid #cccccc;
	border-radius: 50%;
	padding: 0;
}

.ss-facets .product-listing-pane__facets-item .ss-palette .product-listing-pane__facet-values-color-active .ss-palette-button {
	box-shadow: white 0 0 0 0.2rem inset;
	border-color: #121212;
}

.ss-facets .product-listing-pane__facets-item .ss-facet-count {
	font-size: 11px;
}

.ss-facets .product-listing-pane__facets-item .ss-show-more {
	margin: 0.75rem 0 0 0;
}

.ss-facets .product-listing-pane__facets-item .ss-show-more .ss-show-more-link {
	margin: 0;
}

/* AutoComplete */
[ss-autocomplete] {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	z-index: 999;
}

.ss-ac-open .search-box-wrap.active {
	overflow: visible;
}

/* AutoComplete - Resets */
[ss-autocomplete] ul:not(.ss-grid):not(.ss-palette) {
	margin: 0;
}

[ss-autocomplete] ul, [ss-autocomplete] ul li {
	list-style: none;
}

[ss-autocomplete] ul, [ss-autocomplete] ul li, [ss-autocomplete] .ss-title {
	padding: 0;
}

[ss-autocomplete] a {
	text-decoration: none;
}

/* AutoComplete - Container & Layout */
[ss-autocomplete] .ss-ac-container {
	background: #ffffff;
	position: relative;
	margin: 0 auto;
	text-align: left;
}

[ss-autocomplete] .ss-ac-container.no-terms {
	padding: 0;
}

[ss-autocomplete] .ss-ac-container, [ss-autocomplete] .ss-ac-container p {
	font-family: DIN W01 Regular, sans-serif;
	font-size: 13px;
	line-height: 1.5;
}

[ss-autocomplete] .ss-ac-container ul li a, [ss-autocomplete] .ss-ac-container p {
	color: #414141;
}

[ss-autocomplete] #ss-ac-terms, [ss-autocomplete] #ss-ac-facets, [ss-autocomplete] #ss-ac-results {
	padding: 1rem 1.25rem;
}

[ss-autocomplete] .ss-ac-not-loading {
	opacity: 1;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	-ms-transition: opacity 0.25s ease;
	-o-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}

[ss-autocomplete] .ss-ac-loading {
	opacity: 0;
}

[ss-autocomplete] .ss-ac-underline {
	padding: 0 0 0.25rem 0;
	position: relative;
	display: inline-block;
}

[ss-autocomplete] .ss-active .ss-ac-underline:after {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	border-bottom: 2px solid #121212;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* AutoComplete - Merchandising */
[ss-autocomplete] .ss-ac-merchandising img {
	max-width: 100%;
	height: auto !important;
}

[ss-autocomplete] .ss-ac-merchandising#ss-ac-merch-header, [ss-autocomplete] .ss-ac-merchandising#ss-ac-merch-banner {
	margin: 0 0 10px 0;
}

[ss-autocomplete] .ss-ac-merchandising#ss-ac-merch-footer {
	margin: 10px 0 0 0;
}

[ss-autocomplete] .ss-ac-merchandising#ss-ac-merch-left {
	margin: 20px 0 0 0;
}

/* AutoComplete - Terms */
[ss-autocomplete] #ss-ac-terms {
	overflow-x: auto;
}

[ss-autocomplete] #ss-ac-terms:after {
	content: '';
	display: block;
	width: 50px;
	height: 38px;
	position: absolute;
	top: 1rem;
	right: 0;
	z-index: 20;
	margin-top: -5px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 0.8) 66%, white 100%);
}

[ss-autocomplete] #ss-ac-terms .ss-list {
	position: relative;
	z-index: 2;
	white-space: nowrap;
}

[ss-autocomplete] #ss-ac-terms .ss-list .ss-list-option .ss-list-link {
	margin: 0 1rem 0 0;
	font-size: 17px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

[ss-autocomplete] #ss-ac-terms .ss-list .ss-list-option .ss-list-link em {
	font-style: normal;
	font-family: DIN W01 Medium, sans-serif;
}

/* AutoComplete - Content */
[ss-autocomplete] #ss-ac-content {
	max-height: 500px;
	overflow-y: auto;
}

/* AutoComplete - Facets */
[ss-autocomplete] #ss-ac-facets {
	width: 175px;
	background: #f8f8f8;
}

[ss-autocomplete] #ss-ac-facets .ss-ac-facets-row {
	margin: 0 0 -1rem 0;
}

[ss-autocomplete] #ss-ac-facets .ss-ac-facet-container {
	margin: 0 0 1rem 0;
}

[ss-autocomplete] #ss-ac-facets .ss-ac-facet-container .ss-title {
	font-size: 16px;
	font-weight: 300;
	margin: 0 0 0.5rem 0;
}

[ss-autocomplete] #ss-ac-facets .ss-ac-facet-container .ss-list .ss-list-option {
	margin: 0 0 0.25rem 0;
}

[ss-autocomplete] #ss-ac-facets .ss-ac-facet-container .ss-list .ss-list-option:last-child {
	margin-bottom: 0;
}

[ss-autocomplete] #ss-ac-facets .ss-ac-facet-container .ss-ac-underline:after {
	border-bottom-width: 1px;
}

/* AutoComplete - Results */
[ss-autocomplete] #ss-ac-results {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 0%;
	-ms-flex: 1 1 0%;
	flex: 1 1 0%;
}

[ss-autocomplete] #ss-ac-results .ss-title {
	font-size: 16px;
	font-weight: 300;
	margin: 0 0 1rem 0;
}

[ss-autocomplete] #ss-ac-results .ss-ac-item-container {
	margin: 0 -1rem -1rem -1rem;
}

[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item {
	width: 25%;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	padding: 0 1rem;
	margin: 0 0 1rem 0;
}

[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item > a {
	display: block;
}

[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item .ss-ac-item-image {
	line-height: 0;
	margin: 0 0 0.5rem 0;
}

[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item .ss-ac-item-image .ss-image-wrapper {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
}

[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item .ss-ac-item-details p {
	margin: 0 0 0.25rem 0;
}

[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item .ss-ac-item-details p:last-child {
	margin-bottom: 0;
}

[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item .ss-ac-item-details .ss-ac-item-name {
	font-size: 14px;
	font-family: DIN W01 Medium, sans-serif;
}

[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item .ss-ac-item-details .ss-ac-item-price span ~ span {
	padding-left: 5px;
}

[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item .ss-ac-item-details .ss-ac-item-price .ss-ac-item-msrp {
	color: #8e8e8e;
	text-decoration: line-through;
}

[ss-autocomplete] #ss-ac-results .ss-ac-no-results p {
	font-size: 16px;
	margin: 0;
}

@media only screen and (min-width: 1024px) {
	[ss-autocomplete] #ss-ac-results {
		padding-bottom: 64px;
		padding-bottom: calc(30px + 2rem);
	}
}

/* AutoComplete - See More Results */
[ss-autocomplete] #ss-ac-see-more {
	text-align: right;
	margin: 1rem 0 0 0;
}

[ss-autocomplete] #ss-ac-see-more .ss-ac-see-more-link {
	cursor: pointer;
	color: #414141;
	font-size: 16px;
	font-family: DIN W01 Medium, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

[ss-autocomplete] #ss-ac-see-more .ss-ac-see-more-link:after {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 56' preserveAspectRatio='xMinYMid'%3E%3Cpath fill='%23414141' d='M18.594 30c0 .25-.125.53-.312.72L3.72 45.28c-.19.188-.47.312-.72.312s-.53-.125-.72-.312L.72 43.72c-.19-.188-.313-.438-.313-.72 0-.25.125-.53.312-.718L13 30.002.72 17.72c-.19-.188-.313-.47-.313-.72s.125-.53.312-.718l1.56-1.562c.19-.188.47-.312.72-.312s.53.125.72.312L18.28 29.283c.188.188.312.47.312.72z'/%3E%3C/svg%3E");
	position: relative;
	top: 2.5px;
}

@media only screen and (min-width: 1024px) {
	[ss-autocomplete] #ss-ac-see-more {
		position: absolute;
		bottom: 1rem;
		right: 1.25rem;
		max-height: 30px;
		overflow: hidden;
	}
}

/* AutoComplete - Breakpoint 1 */
@media only screen and (max-width: 1199px) {
	[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item {
		width: 33.33%;
	}
	[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item:nth-child(n+4) {
		display: none;
	}
}

/* AutoComplete - Breakpoint 2 */
@media only screen and (max-width: 1023px) {
	[ss-autocomplete] #ss-ac-content {
		display: block;
	}
	[ss-autocomplete] #ss-ac-facets {
		width: auto;
	}
	[ss-autocomplete] #ss-ac-facets .ss-ac-facets-row {
		margin: 0 -1rem -1rem -1rem;
	}
	[ss-autocomplete] #ss-ac-facets .ss-ac-facet-container {
		display: inline-block;
		zoom: 1;
		*display: inline;
		vertical-align: top;
		padding: 0 1rem;
		margin: 0 0 1rem 0;
		width: 33.33%;
	}
	[ss-autocomplete] #ss-ac-facets .ss-ac-facet-container .ss-title {
		font-size: 14px;
	}
	[ss-autocomplete] #ss-ac-results .ss-title {
		font-size: 14px;
	}
	[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item .ss-ac-item-image .ss-image-wrapper {
		padding-bottom: 60%;
	}
	[ss-autocomplete] #ss-ac-results .ss-ac-no-results p {
		font-size: 14px;
	}
	[ss-autocomplete] #ss-ac-see-more {
		text-align: left;
	}
	[ss-autocomplete] #ss-ac-see-more .ss-ac-see-more-link {
		font-size: 12px;
	}
	[ss-autocomplete] #ss-ac-see-more .ss-ac-see-more-link:after {
		top: 5.5px;
	}
	[ss-autocomplete] .merchandising#ss-ac-merch-left {
		display: none;
	}
}

/* AutoComplete - Breakpoint 3 */
@media only screen and (max-width: 767px) {
	[ss-autocomplete] {
		top: 34px;
	}
	[ss-autocomplete] #ss-ac-facets, [ss-autocomplete] #ss-ac-results .ss-title {
		display: none;
	}
	[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item .ss-ac-item-image .ss-image-wrapper {
		padding-bottom: 100%;
	}
}

/* AutoComplete - Breakpoint 4 */
@media only screen and (max-width: 480px) {
	[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item {
		width: 50%;
	}
	[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item:nth-child(n+1) {
		display: inline-block;
	}
	[ss-autocomplete] #ss-ac-results .ss-ac-item-container .ss-ac-item:nth-child(n+3) {
		display: none;
	}
}

/* Loading Overlay */

.loadingOverlay {
	background: rgba(51,51,51,.9);
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 1;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 250ms ease-out;
	z-index: 500;
	width: 100%;
	background-color: rgba(255,255,255,.9);
	align-items: center;
	justify-content: center;
}